body{
    margin:0;
    height: 100vh; /* fill the whole screen vertically */
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: rgb(30, 30, 30);
    color:rgb(250, 250, 250);
    
    font-size:15 px;
    font-family: "sans-serif";
}

.header {
    display:flex;
    justify-content: space-between;
    align-items:baseline;

}

ul{
    display:flex; 
    list-style-type:none;
    column-gap: 50px;
    margin: 20px;
}

.button-box{
    display:flex;
    gap: 20px;
}
a{
    font-size: 25px;

}
.middle-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    height: 92px;
    width: 272px;
}
.footer {
    display:flex;
    justify-content: space-between;
    background-color:rgb(24, 24, 29);
    align-items:baseline;
}

.left-buttons{
    display:flex;
    padding:0px; /* remove default padding from lists */
    
}

.right-buttons{
    display:flex;
    padding:10px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin-bottom: 16px;
    background-color:rgba(75, 75, 75, 0)   
}