body{
    margin:0;
    height: 100vh; /* fill the whole screen vertically */
    display:flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: rgb(12, 12, 15);
    color:rgb(250, 250, 250);
    font-weight:200;
    font-size:15 px;
}

.header {
    display:flex;
    justify-content: space-between;
    align-items:baseline;

}

ul{
    display:flex; 
    list-style-type:none;
    column-gap: 50px;
    margin: 20px;
}



.middle-box {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
img {
    height: 100px;
    width: 300px;
}
.footer {
    display:flex;
    justify-content: space-between;
    background-color:rgb(24, 24, 29);
    align-items:baseline;
}

.left-buttons{
    display:flex;
    padding:0px; /* remove default padding from lists */
    
}

.right-buttons{
    display:flex;
    padding:10px;
}

input {
    border: 1px solid #ddd;
    border-radius: 16px;
    padding: 8px 24px;
    width: 400px;
    margin-bottom: 16px;
}